//- locals: checked (boolean)
.privacy-section
  label.checkbox-container
    input(type="checkbox", checked=checked, disabled=true, tabindex="-1")
    span
      | I understand that the
      |
      a.link(href="#") Privacy Notice
      |
      | applies to the personal information collected in this document.
